

<div class="row ">
  <div class="col  d-flex justify-content-center">
    <mat-icon>qr_code</mat-icon>
  </div>
  <div class="col ">
    <mat-icon>loyalty</mat-icon>
  </div>

</div>

<div class="row">
  <div class="col d-flex justify-content-center">
    <mat-icon>3p</mat-icon>
  </div>
  <div class="col">
    <mat-icon>add_shopping_cart</mat-icon>
  </div>

</div>

<div class="row">
  <div class="col d-flex justify-content-center">
    <mat-icon>shopping_cart_checkout</mat-icon>
  </div>
  <div class="col ">
    <mat-icon>currency_lira</mat-icon>
  </div>

</div>
<div class="jumbotron mt-2">
  <h1 class="display-4">Merhaba</h1>
  <p class="lead">Kantin otomasyonuna hoşgeldiniz menüler aracılığı ile işlemlerinizi zaman almadan gerçekleştirebilirsiniz...</p>
  <hr class="my-4">
  <p>Alışveriş yapma için tıklayınız..</p>
  <a class="btn btn-primary btn-lg" [routerLink]="['/baskets']" routerLinkActive="router-link-active"  role="button">Alışverişe Başla</a>
</div>

